@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --color-bg: #eff1f5;
  --color-bg-secondary: #e8ebef;
  --color-text: #4c4f69;
  --color-text-secondary: #eff1f5;
  --color-primary: #ef7f66;
}

.dark {
  --color-bg: #1e1e2e;
  --color-bg-secondary: #232634;
  --color-text: #c6d0f5;
  --color-text-secondary: #1e1e2e;
  --color-primary: #e78284;
}